<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            {#get_list()#}
        })

        {#function get_list() {#}
        {#    $.ajax({#}
        {#        type: "GET",#}
        {#        url: "http://openapi.seoul.go.kr:8088/6d4d776b466c656533356a4b4b5872/json/RealtimeCityAir/1/99",#}
        {#        data: {},#}
        {#        success: function (response) {#}
        {#            let rows = response["RealtimeCityAir"]["row"];#}
        {#            console.log(rows)#}
        {#            for (let i = 0; i < rows.length; i++) {#}
        {#                let gu_name = rows[i]["MSRSTE_NM"]#}
        {#                let gu_mise = rows[i]["IDEX_MVL"]#}
        {#                console.log(gu_name, gu_mise)#}
        {#                if (gu_mise>=55){#}
        {#                    let temp_html = `<li>${gu_name}: ${gu_mise}</li>`#}
        {#                    $('#gu-list').append(temp_html)#}
        {#                }#}
        {#            }#}
        {#        }#}
        {#    })#}
        {# } #}
    </script>
</head>
<body>
    <h1>detail page</h1>
    <button onclick="window.location.href='/'">go back to home</button>
    <h3>받은단어는 {{ word }}</h3>
    <ul id="gu-list">
        {% for row in rows %}
            {% set gu_name = row["MSRSTE_NM"] %}
            {% set gu_mise = row["IDEX_MVL"] %}
                {% if gu_mise>=55 %}
                    <li>{{ gu_name }}: {{ gu_mise|int }}</li>
                {% endif %}
        {% endfor %}
    </ul>
</body>
</html>